cache/*
utils/*.csv
utils/*.txt
utils/*.gz
utils/data/*.*
data/log.txt
data/*.log
data/manual-classification-failed.csv
data/allpapers.csv
csindex-env
.venv/
local-backups/
update-logs/
*.zip
__pycache__/

